html,body,#app{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.outbox{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #E9EDF1;
  padding: 20px ;
  box-sizing: border-box;
}
.el-breadcrumb {
  margin: 20px 0;
}
.el-cascader-panel{
  height: 300px !important;
}